.card{
  display: flex;
  position: relative;
}

.container {
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 1rem;
    margin: 1rem;
    width: 350px;
    height: auto;
    text-align: center;
    
    
  }

.containeruno{
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 1rem;
  margin: 1rem;
  width: 350px;
  height: auto;
  text-align: center;
  align-items: center;
}