.cartContentContainer1{
    margin: 0 100px;
    justify-content: center;
    align-items: center;
}

.cartContentContainer{
    border: 6px solid rgb(88, 88, 88);
    border-radius: 20px;
}

.cartContent{
    display: flex;
    justify-content: center;
    margin: 20px;
    
}

.vista{
    display: flex;
    width: 100%;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    
}
    
 .vista > img {
    height: 120px;
    width: 100px;
    text-align: center;
    margin: 0;
}

.cartTotal{
    background-color: rgb(88, 88, 88) ;
    color: white;
    height: 60px;
    margin: 30px 100px;
    padding-top: 1px;
    text-align: center;
    border-radius: 20px;
}

.cart-mensaje{
    background-color: rgb(88, 88, 88) ;
    border-radius: 20px;
    color: white;
    text-align: center;
    height: 60px;
    margin: 30px 100px;
    padding-top: 30px;
}

.counter-button{
    cursor: pointer;
    font-weight: bold;
}
.cart-items-total{
    background-color: aqua;
    margin-left: -15px;
    border-radius: 50px;
}
.Btn{
    display: flex;
    background-color: rgb(88, 88, 88) ;
    color: white;
    height: 60px;
    margin: 40px 550px;
    justify-content: space-around;
    text-align: center;
    align-items: center;
    border-radius: 20px;
}