.nav-container {
    display: flex;
     justify-content: space-between;
     margin: 10px;
     background-color: #C37B89;
     
 }
 .navbar {
     display: flex;
     justify-items: center;
     text-align: center;
     align-items: center;
     padding: 10px;
     color: white;
 }
 .navbar h2{
    padding: 16px ;
    position: relative;
    transition: 0.3s ease-in-out;
 }
 .navbar h2:hover {
    color: #BCCC9A;
    background-color: #D1E8E4;
    border-radius: 50px;
 }