.nav-container {
    display: flex;
     justify-content: center;
     margin: 10px;
     
     
 }
 .navbar {
     display: flex;
     justify-content: space-around;
     align-items: center;
     margin-top: 40px;
     margin-left: 40px;
     padding: 0px 14px;
     height: 80px;
     width: 700px;
     background-color: rgb(88, 88, 88);
     border-radius: 50px;
     text-decoration: none;
     
     
 }
 .navbar .navbarButton{
    padding: 16px ;
    position: relative;
    transition: 0.3s ease-in-out;
    color: white;
 }
 .navbar .navbarButton:hover {
    color: black;
    background-color: white;
    border-radius: 50px;
 }

.cart-container{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}